################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Test/.cr/personal/FavoritesList
/Test/.vs
